@import url("https://fonts.googleapis.com/css?family=Anton|Baloo|Dokdo|Luckiest+Guy|Monoton|Titan+One|Ubuntu:300,400,700,700i&subset=latin-ext");
body {
  margin: 20px;
  font-family: 'Baloo', cursive;
  background-image: linear-gradient(to bottom left, #17141d, #201c29);
  border-radius: 30px;
  box-shadow: 2px 2px 80px #190b14;
}

.board {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  box-shadow: 30px 30px 80px #190b14;
  border-radius: 30px;
}

.board h1 {
  font-weight: 800;
  font-size: 100px;
  line-height: 120px;
  text-align: center;
  background: -webkit-linear-gradient(153deg, #3be2bc 0%, #1b96f1 95%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  border-radius: 30px;
  margin: 0;
}

.new-column-button {
  display: block;
  font-family: 'Baloo', cursive;
  color: #190b14;
  height: 60px;
  border-radius: 10px;
  border: none;
  font-size: 20px;
  text-align: center;
  background-image: linear-gradient(to bottom, #ef33f2 0%, #3544dc 95%);
  width: 120px;
  margin: 30px auto;
  z-index: 2;
  font-size: 26px;
  width: 300px;
  margin: 50px auto;
  box-shadow: 20px 20px 50px #190b14;
}

.new-column-button:focus {
  outline: none;
}

.new-column-button:hover {
  background-image: linear-gradient(to top, #ef33f2 0%, #3544dc 95%);
}

.column-container {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 30px 0;
  border-radius: 30px;
  -ms-flex-pack: center;
      justify-content: center;
  box-shadow: 30px 30px 80px #190b14;
}

.column {
  border-radius: 30px;
  min-width: 300px;
  margin: 10px;
  border-radius: 30px;
  box-shadow: 30px 30px 80px #190b14;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.column h2 {
  font-size: 42px;
  background: -webkit-linear-gradient(153deg, #3be2bc 0%, #1b96f1 95%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.column ul {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100px;
}

.card {
  width: 300px;
  min-height: 150px;
  margin: 20px;
  border-radius: 30px;
  background-image: linear-gradient(to top, #e64c4c 0%, #fb8332 95%);
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column-reverse;
      flex-direction: column-reverse;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  box-shadow: 30px 30px 80px #190b14;
}

.card.green {
  background-image: linear-gradient(153deg, #8adc32 0%, #25c7a2 95%);
}

.card.blue {
  background-image: linear-gradient(153deg, #8e2ef7 0%, #61dec7 95%);
}

.card-description {
  margin: 20px;
  text-align: center;
  color: #190b14;
  font-size: 22px;
}

.btn-delete {
  display: block;
  font-family: 'Baloo', cursive;
  color: #190b14;
  height: 60px;
  border-radius: 10px;
  border: none;
  font-size: 20px;
  text-align: center;
  background-image: linear-gradient(to bottom, #ef33f2 0%, #3544dc 95%);
  width: 120px;
  margin: 30px auto;
  z-index: 2;
  width: 40px;
  height: 40px;
  background-image: linear-gradient(to bottom, #190b14, #da1b60);
  box-shadow: 2px 2px 20px #190b14;
  color: #fff;
  -ms-flex-align: end;
      align-items: flex-end;
}

.btn-delete:focus {
  outline: none;
}

.btn-delete:hover {
  background-image: linear-gradient(to top, #ef33f2 0%, #3544dc 95%);
}

.btn-delete:hover {
  background-image: linear-gradient(to top, #190b14, #da1b60);
}

.add-card {
  display: block;
  font-family: 'Baloo', cursive;
  color: #190b14;
  height: 60px;
  border-radius: 10px;
  border: none;
  font-size: 20px;
  text-align: center;
  background-image: linear-gradient(to bottom, #ef33f2 0%, #3544dc 95%);
  width: 120px;
  margin: 30px auto;
  z-index: 2;
  box-shadow: 10px 10px 20px #190b14;
}

.add-card:focus {
  outline: none;
}

.add-card:hover {
  background-image: linear-gradient(to top, #ef33f2 0%, #3544dc 95%);
}
/*# sourceMappingURL=style.css.map */